
@font-face {
  font-family: 'Avenir Light';
  font-path: 'http://localhost:3000/fonts/Avenir-Light';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Book';
  font-path: 'http://localhost:3000/fonts/Avenir-Book';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Heavy';
  font-path: 'http://localhost:3000/fonts/Avenir-Heavy';
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Black";
  font-path: 'http://localhost:3000/fonts/Avenir-Black';
  font-weight: normal;
  font-style: normal;
}

$base-font-size: 14px;

body,
html {
  -webkit-font-smoothing: antialiased;

  font-family: 'Avenir Light', sans-serif;
  font-size: $base-font-size;
  color: #666A82;
}

h1, h2 {
  font-family: 'Avenir Light', sans-serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-style: 24px;
}

h3 {
  font-family: 'Avenir Book', sans-serif;
  font-size: 18px;
}

h4 {
  font-family: 'Avenir Heavy', sans-serif;
  font-size: $base-font-size;
}


.text-small {
  font-size: 12px;
}

.label {
  font-family: 'Avenir Heavy';
  @extend .text-small;
}
