/* ==========================================================================
   General settings
   ========================================================================== */

/* Importing libs
   ========================================================================== */

@import "~normalize.css/normalize.css";
@import "./utils/variables";
@import "./base/typography";

/* Page settings
   ========================================================================== */

// Box-sizing be inherited from html
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Grid settings
   ========================================================================== */

// Inline comments into css decalrations block lost-center generation
// Double variables into lost-center does not work : 15px should be $site-padding

.wrap {
  lost-center: $site-width 15px;
}
