
@import '../../../styles/utils/_variables';

header {
  background: #999;

  .logo, .desc {
    background: tomato;
    lost-column: 1/2;
  }

  .logo > img { display: block; }

  h1 {
    color: white;
  }
}
